@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    border-right: black 1px solid;
}

#main-doc {
    position: absolute;
    margin-left: 22vw;
    margin-right: 5vw;
    padding-top: 10px;
    padding-bottom: 100px;
  }

nav a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

nav > ul {
    list-style: none;
}

section > header {
    margin-top: 25px;
    font-size: 1.8em;
    font-weight: thin;
}

section > p {
    margin-top: 15px;
}

section > ol, ul {
    margin-top: 15px;
}

section li {
    margin-top: 10px;
}

.question {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.1em;
}

nav > header {
    text-align: center;
    margin-top: 25px;
    font-size: 1.8em;
    font-weight: thin;
}

nav ul {
    margin-left: -40px;
}

#navbar a {
    display: block;
    padding: 12px 30px;
    border-top: 1px solid black;
  }

nav ul:last-child {
    border-bottom: black 1px solid;
}

@media (max-width: 800px) {
    body {
        background-color: burlywood;
    }
}

footer {
    position: absolute;
    bottom: 10px;
}